<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.tropvache" version="1.0.0" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Stuck in Pimbo</name>
  <description>
    Save the pims-help the ghosts turn to zombies and the zombies to pims to let them escape pimbo.
  </description>
  <author email="luczynaki@gmail.com" href="http://tropvache.com">
    Tropvache - Ana Luczynski
  </author>
  <content src="index.html" />
  <access origin="*" />

  <gap:platform name="android" />

  <preference name="orientation" value="portrait" />

  <icon src="images/icons/icon.png" />
  <gap:splash src="images/splash/hdpi.png" />
</widget>